##########################################
# Environment
##########################################
# Values: local, development, production, test
APP_ENV=local

# The Node.js environment: development, production, test
NODE_ENV=development

##########################################
# Application
##########################################
APP_NAME=hono-fullstack-api-starter

# The base URL for the application
BASE_APP_URL=http://localhost:3838

# Secret key used for authentication
APP_AUTH_SECRET=secret123secret123secret123secret123

# Secret key for internal backoffice API access
BACKOFFICE_INTERNAL_API_SECRET=secret123

##########################################
# Database
##########################################
DATABASE_URL=postgresql://postgres:secret@localhost:5432/postgres?schema=public
DIRECT_DATABASE_URL=postgresql://postgres:secret@localhost:5432/postgres?schema=public

##########################################
# Email Server
##########################################
SMTP_SERVER=smtp.postmarkapp.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
